* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: lightskyblue;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: lightgreen;
  border: 1px solid lightseagreen;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.6;
}
